<div class="page-container">
    <div class="title">Adina Party</div>
    <div *ngIf="roomLoaded && roomData.status === 'Lobby'">
        <div class="clock">
            <div *ngIf="hoursLeft > 0">{{hoursLeft}}:</div>
            <div>{{minutesLeft}}:</div>
            <div>{{secondsLeft}}</div>
        </div>
        <div class="buttons-container">
            <div class="input-button">
                <input #addTimeInput>
                <button (click)="addTime(addTimeInput.value)">Add Time</button>
            </div>
            <div class="input-button">
                <input #removeTimeInput>
                <button (click)="removeTime(removeTimeInput.value)">Remove Time</button>
            </div>
            <button class="start-button" (click)="startNow()">Start Now</button>
        </div>
        <div *ngIf="selectedPlayer">
            <div class="selected-player-container">
                <img src="https://avatars.dicebear.com/api/identicon/{{selectedPlayer.id}}.svg" class="player-icon">
                <div class="player-name">{{selectedPlayer?.name}}</div>
                <div class="player-score">{{selectedPlayer?.score}}</div>
            </div>
            <div class="buttons-container">
                <div class="input-button">
                    <input #newScore>
                    <button (click)="setNewScore(newScore)">Set Score</button>
                </div>
            </div>
        </div>
        <div *ngIf="roomData.countdownTo > 0" class="players-container">
            <div class="player-container pointer" *ngFor="let player of roomData.players" (click)="selectPlayerForScore(player)">
                <img src="https://avatars.dicebear.com/api/identicon/{{player.id}}.svg" class="player-icon">
                <div class="player-name">{{player?.name}}</div>
                <div class="player-score">{{player?.score}}</div>
            </div>
            <div class="add-player-container">
                <div class="add-player-icon" (click)="addPlayer(playerName)">+</div>
                <input #playerName type="text" class="add-player-input">
            </div>
        </div>
        <div *ngIf="roomData.countdownTo === 0" class="players-container">
            <div class="player-container pointer" *ngFor="let player of roomData.players"
                (click)="toggleGamePlayer(player)" [ngClass]="{'selected': isParticipatinPlayer(player)}">
                <img src="https://avatars.dicebear.com/api/identicon/{{player.id}}.svg" class="player-icon">
                <div class="player-name">{{player?.name}}</div>
                <div class="player-score">{{player?.score}}</div>
            </div>
            <div class="button-wrapper">
                <button (click)="startGame2()">Start</button>
            </div>
        </div>
    </div>
    <div *ngIf="roomLoaded && roomData.status === 'PickGame'" class="game-title">{{roomData.currentGame.name}}</div>
    <div *ngIf="roomLoaded && roomData.status === 'PickGame'" class="games-container">
        <div class="button-wrapper">
            <button (click)="startGame()">Start</button>
            <button (click)="endGame(false)">Go Back</button>
        </div>
    </div>
    <div *ngIf="roomLoaded && roomData.status === 'InGame'" class="game-title">{{roomData.currentGame.name}}</div>
    <div *ngIf="roomLoaded && roomData.status === 'InGame'" class="teams-container">
        <div *ngFor="let team of roomData.currentTeams, let i = index" class="team-container">
            <div class="team-title">Team {{i + 1}}</div>
            <div *ngFor="let player of team" class="team-member">
                <img src="https://avatars.dicebear.com/api/identicon/{{player.id}}.svg" class="player-icon">
                <div class="player-name">{{player?.name}}</div>
                <div class="player-score">{{player?.score}}</div>
            </div>
            <input #scoreInput type="text">
            <button (click)="updateTeamScore(team, scoreInput)" class="fake-button">TEst</button>
        </div>
        <div class="button-wrapper">
            <button (click)="setScores()">End</button>
            <button (click)="endGame(false)">Go Back</button>
        </div>
    </div>
</div>